.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  background-image: linear-gradient(
    to right top,
    #b95cff,
    #a852fe,
    #9549fe,
    #7e41fe,
    #633afe
  );
  background-size: 200%;
  background-position: right top;
  color: var(--clr-white);
  transition: background-position 0.3s ease;
}

.btn-primary:hover {
  background-position: left top;
}

.btn-secondary {
  background-color: var(--clr-white);
  border: 1px solid #b95cff;
  color: #b95cff;
}

.btn-secondary:hover {
  background-color: #f2e2ff;
}
