.btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--clr-black);
  color: var(--clr-white);
}

.btn-primary:hover {
  background-color: var(--clr-gray-3);
}

.btn-secondary {
  background-color: var(--clr-white);
  border: 1px solid var(--clr-gray-3);
  color: var(--clr-black);
}

.btn-secondary:hover {
  background-color: var(--clr-gray-2);
}
