* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --clr-primary-1: #9b53e0;
  --clr-primary-2: #7a30bf;
  --clr-secondary-1: #727272bf;
  --clr-secondary-2: #5f5d5dbf;
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-blue: #111827;
  --clr-gray-1: #dedede;
  --clr-gray-2: #e9e5e5;
  --clr-gray-3: #2e2e2e;
}